body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e1538;
    font-family: Tahoma;
}

/* Style untuk elemen audio */
audio {
    background-color: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}
/* Style untuk kontrol audio */
audio::-webkit-media-controls-panel {
  background-color: #0e1538; /* warna latar belakang kontrol */
  color: #fff; /* warna teks */
}

/* Style untuk kontrol audio ketika dihover */
audio::-webkit-media-controls-panel:hover {
  background-color: #2f4f56; /* warna latar belakang saat hover */
}

/* Style untuk tombol play/pause */
audio::-webkit-media-controls-play-button {
  background-color: transparent; /* menghilangkan latar belakang */
  color: #fff; /* warna teks */
}

/* Style untuk tombol volume */
audio::-webkit-media-controls-volume-slider {
  background-color: transparent; /* menghilangkan latar belakang */
}

audio::-webkit-media-controls-

/* Style untuk progress bar */
audio::-webkit-media-controls-timeline {
  background-color: #0e1538; /* warna latar belakang progress bar */
}

/* Style untuk marker progres */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #fff; /* warna teks marker waktu */
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 6px 20% 10%;
    color: white;
}

.jarak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box span {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.box span:nth-child(2) {
    color: white;
    margin-bottom: 1px;
}

.box span:nth-child(3) {
    color: white;
    margin-bottom: 3px;
}

.box {
    display: grid;
    place-items: center;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    /* penting | */
    overflow: hidden;
}

img {
    width: 70%;
    align-self: flex-start;
    margin-top: 20px;
}


.box img {
    color: rgb(226, 226, 226);
    text-shadow: 2px 2px black;
    font-size: 8em;
    /* penting */
    z-index: 2;
}

/* penting */
.box::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 140%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
}

/* penting */
.box::after {
    content: "";
    position: absolute;
    background: #0e1538;
    inset: 5px;
    border-radius: 16px;
}

/* penting */
/* dari ke 0 - 360 */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 560px) {
    .jarak {
        flex-direction: row;
    }

    .box span {
        font-size: 8px;
    }

    .box {
        margin: 3px;
        width: 98px;
        height: 150px;
    }

    .box::before {
        width: 40px;
    }
}

@media screen and (max-width: 368px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jarak {
        flex-direction: row;
    }

    .box {
        width: 100px;
        height: 150px;
    }

    .box::before {
        width: 70px;
    }
}